<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ask Your Questions!</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="chatbot-container">
        <!-- <div id="header">
            <h1>Chatbot</h1>
        </div> -->
        <div id="chatbot">
            <div id="conversation">
              <div class="chatbot-message">
                <p class="chatbot-text" style="background: #eeffee;">Dzień dobry, jestem asystentem finansowych. Jestem tu aby pomóc w wypełnieniu formularza PCC-3.
                    Podaj informację o zakupie/sprzedazy dóbr. Np. zakupiłem samochód
                </p>
              </div>
            </div>
            <form id="input-form">
              <message-container>
                <input id="input-field" type="text" placeholder="Type your message here">
                <button id="submit-button" type="submit">
                  <img class="send-icon" src="/static/send-message.png" alt="">
                </button>
              </message-container>
                
            </form>
        </div>
    </div>

    <script src="/static/chatbot.js"></script>
</body>


<!-- <div>
  <p>Copyright © 2024 Yuri. All Rights are  reserved</p>   
</div> -->

</html>